.container.footer.marge-delete
  .row.white.block
    .col-md-2.col-md-offset-2
      %h3 About
      %ul.list-unstyled
        %li Compagny
        %li Blog

    .col-md-2
      %h3 Contact
      %ul.list-unstyled
        %li Compagny
        %li Blog

    .col-md-2
      %h3 Legal
      %ul.list-unstyled
        %li Compagny
        %li Blog

    .col-md-2
      %h3 Follow us
      %ul.list-unstyled
        %li Compagny
        %li Blog

  .row
    .col-md-12.copyright
      %p.white.text-center 2018 © Fin Partners. All rights reserved
