- if lang == :en
  :javascript

    $("#country").countrySelect({
    	defaultCountry: 'us',
    	preferredCountries: ['us', 'fr', 'co']
    });

    $.validate({
      modules : 'file'
    });

- elsif lang == :es
  :javascript

    $("#country").countrySelect({
    	defaultCountry: 'co',
    	preferredCountries: ['us', 'fr', 'co']
    });

    $.validate({
      lang : '#{I18n.locale}',
      modules : 'file'
    });

- else
  :javascript

    $("#country").countrySelect({
    	defaultCountry: '#{I18n.locale}',
    	preferredCountries: ['us', 'fr', 'co']
    });

    $.validate({
      lang : '#{I18n.locale}',
      modules : 'file'
    });
