.footer {
  @include retina('../images/bg-footer.png', 2, cover, center center no-repeat);

  a {
    color: $white-color;
  }

}

.copyright{
  background-color: rgba($black-color, 0.50);
  padding: 15px 15px 5px;
}
