.navbar-toggle {
	margin: 28px 28px 28px 0;
	@media screen and (max-width: $screen-sm-max) {
		margin: 20px 20px 20px 0;
	}
}

.logo {
	@media screen and (max-width: $screen-sm-max) {
		height: 45px;
	}
}

.navbar-default {
	background-color: $white-color;
	border: none;
	@include box-shadow(rgba($black-color, 0.15) 0px 2px 5px);
}

.navbar-brand {
  height: auto !important;
  margin-right: 35px;
	@media screen and (max-width: $screen-sm-max) {
		margin-right: 15px;
	}
}

.navbar-nav > li > a{
	@media screen and (min-width: $screen-md-min) {
  	padding: 35px 15px;
	}

	@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		padding-top: 27px;
		padding-bottom: 27px;
	}

	text-transform: uppercase;
	font-weight: 600;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: none !important;
  border-bottom: 3px solid $fp-alternative-color;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: $fp-alternative-color;
}
