@import "../libs/bootstrap-sass/assets/stylesheets/bootstrap.scss";
// @import "../libs/font-awesome/web-fonts-with-css/scss/fontawesome";
// @import "../libs/vegas/dist/vegas.min.css";
@import "./retina.scss";
@import "./mixins.css.scss";
@import "./vegas.css.scss";

@import "./icons-fp.css.scss";
@import "./navbar.css.scss";
@import "./home.css.scss";
@import "./about-us.css.scss";

.btn-primary {
  background-color: $fp-alternative-color;
  color: $white-color;
  border: none;
  text-transform: uppercase;
  padding: 15px 20px;
  @include box-shadow(rgba($black-color, 0.35) 0px 2px 5px);
  &:hover{
    background-color: darken($fp-alternative-color, 15%);
  }
}

body {
  background-color: $background-color;
}

.white {
  color: white;
}

.bg-white {
  background-color: $white-color;
}

.bg-fp {
  background-color: $fp-color;
}

.block {
  padding: 30px 45px 45px;
}

.bg-block {
  min-height: 250px;
}
