.container
  .row.bg-fp.white.block
    .col-md-2.col-md-offset-2
      %h3 About
      %ul
        %li Compagny
        %li Blog

    .col-md-2
      %h3 Contact
      %ul
        %li Compagny
        %li Blog

    .col-md-2
      %h3 About
      %ul
        %li Compagny
        %li Blog

    .col-md-2
      %h3 About
      %ul
        %li Compagny
        %li Blog

  .row
    .col-md-12
      %p 2018 © Fin Partners. All rights reserved
