---
title : Fin Partners - Global leader in SAP executive search and Talent Advisory
---

:javascript
  window.onload = (function(){
    if(window.location.hash == '#thank-you'){
    document.getElementById('thank-you-message').className = 'alert alert-success';
    }
    })

.contact-us
  .container.banner
    .row
      .col-md-4.col-md-offset-4.white

        .big-title.contact.text-center
          %h2
            - t("menu").drop(2).first(1).each do |nav|
              = nav

.container.bg-white
  .row.block.pb-0
    .col-md-12
      #thank-you-message.hidden{:role => "alert"}
        Thank you for contacting us we'll get back to you, as soon as we can.
  %form.row.block{:action => "https://getsimpleform.com/messages?form_api_token=461f7854117b75a3f540ef9a88b513e2", :method => "post", :enctype => "multipart/form-data"}
    %input{:name => "redirect_to", :type => "hidden", :value => "http://localhost:4567/contact-us/#thank-you"}/
    %input{:name => "_folder", :type => "hidden", :value => "quotes"}/
    %input{:name => "_spam", :type => "hidden", :value => "message"}/

    .col-md-6

      .form-group
        %label{:for => "Profil"} Email address
        %select.form-control#Profil{:name => "profil"}
          %option{:value => "Candidate"} Candidate
          %option{:value => "Compagny"} Compagny

      .row
        .col-xs-6
          .form-group
            %input#Name.form-control{:name => "name", :placeholder => "First name", :type => "text"}/

        .col-xs-6
          .form-group
            %input#LastName.form-control{:name => "last name", :placeholder => "Last name", :type => "text"}/

      .clearfix

      .row
        .col-xs-6
          .form-group
            %input#Country.form-control{:name => "country", :placeholder => "Country", :type => "text"}/

        .col-xs-6
          .form-group
            %input#Email.form-control{:name => "mail", :placeholder => "Email", :type => "email"}/

      .form-group
        %input#Compagny.form-control{:name => "compagny", :placeholder => "Compagny", :type => "text"}/

      .form-group
        %textarea.form-control{:name => "message", :placeholder => "Tell us how we can help you", :rows => "3"}

    .col-md-6

      .form-group
        %label{:for => ""} What subject are you interested in?

        .checkbox
          %label
            %input{:name => "subject 1", :type => "checkbox", :value => "Executive Search"}/
            Executive Search

        .checkbox
          %label
            %input{:name => "subject 2", :type => "checkbox", :value => "Interim Consulting"}/
            Interim Consulting

        .checkbox
          %label
            %input{:name => "subject 3", :type => "checkbox", :value => "SAP Market Insight"}/
            SAP Market Insight

        .checkbox
          %label
            %input{:name => "subject 4", :type => "checkbox", :value => "Talent Advisory"}/
            Talent Advisory

      .form-group
        %label Join your CV/resume
        %input{:name => "cv", :type => "file"}/

      %button.btn.btn-primary{:type => "Submit"} Submit
