---
title : Fin Partners - Global leader in SAP executive search and Talent Advisory
navigation : Home
---

.container
  .col-md-12
    %h1 Fin Partners
    %h2 Transparency is the Key.

    %p= t(:hello)

    %p We help companies hire great SAP Consultants.
    %p The SAP industry is changing. Finding the best SAP Consultant is a real challenge.


.container
  .col-md-6
    %h1 Who is Fin Partners ?
    = t("intro.text")

  .col-md-6
