---
title : SAP Consulting - Privacy Policy of finpartners.co
---

.container.bg-white.mt-75
  .row
    .col-md-10.col-md-offset-1.mt-30.mb-30
      - if lang == :en
        = partial "partials/legal-mentions-en.html.haml"
      - elsif lang == :fr
        = partial "partials/legal-mentions-fr.html.haml"
      - else
        = partial "partials/legal-mentions-es.html.haml"
