---
title : Fin Partner - Global leader in SAP executive search and Talent Advisory
navigation : About us
---

.container
  .col-md-12
    %h1.text-center About US
    %h2.text-center Transparency is the Key.
