---
title : Fin Partner - Global leader in SAP executive search and Talent Advisory
navigation : Home
---

.container
  .col-md-12
    %h1.text-center Fin Partner
    %h2.text-center Transparency is the Key.
